<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services

    </title>
    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          padding: 8px;
          background-color: #dddddd;
        }
        .active {
  background-color: #4CAF50;
  color: white;
}
        </style>
</head>
<body>
    
<ul>
    <li><a   href="">Home</a></li>
    <li><a class="active" href="">Services</a></li>
    <li><a  href="">Contact</a></li>
   
  </ul>
</body>
</html>